In [2]:
import sqlite3
import pandas as pd

In [3]:
# Establish connection with internal db
con = sqlite3.connect('olist.db')
cursor = con.cursor()

In [7]:
# Drop tables that already exist by running the following commands
cursor.executescript("DROP TABLE IF EXISTS customers")
cursor.executescript("DROP TABLE IF EXISTS orders")
cursor.executescript("DROP TABLE IF EXISTS order_items")

In [5]:
# read csv files
customers_df = pd.read_csv("data/olist_customers_dataset.csv")
orders_df = pd.read_csv("data/olist_orders_dataset.csv")
order_items_df = pd.read_csv("data/olist_order_items_dataset.csv")

In [8]:
# import data to sqlite3
customers_df.to_sql('customers', con)
orders_df.to_sql('orders', con)
order_items_df.to_sql('order_items', con)

In [9]:
# verify that all data are loaded to the database
customers = pd.read_sql('SELECT * FROM customers', con)
orders = pd.read_sql('SELECT * FROM orders', con)
order_items = pd.read_sql('SELECT * FROM order_items', con)

In [10]:
customers.head(n=10)

,index,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
5,5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC
6,6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,SP
7,7,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,35182,timoteo,MG
8,8,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,81560,curitiba,PR
9,9,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,30575,belo horizonte,MG

In [11]:
orders.head(n=10)

,index,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
5,5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00
6,6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,None,None,2017-05-09 00:00:00
7,7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00
8,8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00
9,9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00

In [12]:
order_items.head(n=10)

,index,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
5,5,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27,21.90,12.69
6,6,00054e8431b9d7675808bcb819fb4a32,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.90,11.85
7,7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75
8,8,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65
9,9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40

In [13]:
# We want to know for each order, what is the total price
sql1 = "SELECT order_id, SUM(price*order_item_id) AS total_value, COUNT(product_id) AS quantity FROM order_items GROUP BY order_id;"
sq1_df = pd.read_sql(sql1, con)
# sq1_df

In [38]:
# See how many times each customer orders
sql3 = """
SELECT c.customer_unique_id, COUNT(o.order_id) AS order_times
FROM orders o, customers c,
(SELECT order_id, SUM(price*order_item_id) AS order_value, COUNT(product_id) AS quantity 
FROM order_items GROUP BY order_id) oi
WHERE o.order_id = oi.order_id AND c.customer_id = o.customer_id
GROUP BY c.customer_unique_id HAVING order_times > 2
ORDER BY COUNT(o.order_id) DESC
"""

In [39]:
sql3_df = pd.read_sql(sql3, con)
sql3_df

                   customer_unique_id  order_times
0    8d50f5eadf50201ccdcedfb9e2ac8455           16
1    3e43e6105506432c953e165fb2acf44c            9
2    1b6c7548a2a1f9037c1fd3ddfed95f33            7
3    6469f99c1f9dfae7733b25662e7f1782            7
4    ca77025e7201e3b30c44b472ff346268            7
5    12f5d6e1cbf93dafd9dcc19095df0b3d            6
6    47c1a3033b8b77b3ab6e109eb4d5fdf3            6
7    63cfc61cee11cbe306bff5857d00bfe4            6
8    dc813062e0fc23409cd255f7f53c7074            6
9    f0e310a6839dce9de1638e0fe5ab282a            6
10   35ecdf6858edc6427223b64804cf028e            5
11   394ac4de8f3acb14253c177f0e15bc58            5
12   4e65032f1f574189fb793bac5a867bbc            5
13   56c8638e7c058b98aae6d74d2dd6ea23            5
14   5e8f38a9a1c023f3db718edcf926a2db            5
15   74cb1ad7e6d5674325c1f99b5ea30d82            5
16   b4e4f24de1e8725b74e4a1f4975116ed            5
17   de34b16117594161a6a89c50b289d35a            5
18   fe81bb32c243a86b2f86fbf053fe6140            5
19   083ca1aa470c280236380973a48f77c6            4
20   08e5b38d7948d37fbb2a59fc5e175ab1            4
21   12d8b5ed661190a3a08183644dfc504d            4
22   25a560b9a6006157838aab1bdbd68624            4
23   2ddc001b620bd90d0f4378cfde1db887            4
24   397b44d5bb99eabf54ea9c2b41ebb905            4
25   4facc2e6fbc2bffab2fea92d2b4aa7e4            4
26   6358b15ef7fa9b1210f1a5735cabd3d9            4
27   7305430719d715992b00be82af4a6aa8            4
28   738ffcf1017b584e9d2684b36e07469c            4
29   795c1622cf7a53d63d324e862349d01c            4
..                                ...          ...
210  da2b78576894a7f95d45bfd20250cc54            3
211  db03954a9a1cc5e71f6e0f73e81a628c            3
212  db07fd2ad9869f8356b1fbeefdac31e8            3
213  dc48b0a1b0e6abb6586f322c189f6b93            3
214  df946ef265626b1e0a425292815ddead            3
215  e016365b624d1755f3e2d0e8f1631ebb            3
216  e0836a97eaae86ac4adc26fbb334a527            3
217  e0c99ffdcd8891130985ac90cd2d8eec            3
218  e1224167b1a3f92781c2ff55b0b794be            3
219  e12f7f1e96f1f9f6361572028a1fad5a            3
220  e13e8b789e5a8e6fe1445f924a4ed4f6            3
221  e226254ce0c6d5b7a7ef7218c9b5b518            3
222  e2492e4188991b6276a4a62a287a5451            3
223  e30b83af13d6ff0b0f427b2a67c43b39            3
224  e325e139452a1ca05f5a33acedd7d94f            3
225  e3301490c373db9263c15a73172d0c6f            3
226  e4b98eebb8983cade8610c0def59f705            3
227  e53fd5575f1418397aae732c5755b6fc            3
228  e68e1b61896163cdd7f8e07b2ae814c9            3
229  e78838df9c44e102b6ac84cc5eea7d5c            3
230  e9b87dccd9c326a3325385087eb0150c            3
231  f0fd988c7c2a4cba167138a8adada6ca            3
232  f11821d908830e74ad782532ebed897a            3
233  f4d1502ace38b0df6f052a5544add9f4            3
234  f50ca6544a0ed8a52cc964e15cbe9cf9            3
235  f8bc1d81f395f6239a2a5ab1b9edf1ab            3
236  fc719c11b4dce594f47e1f9aa739a3a2            3
237  fd8ccc89be43894d2553494c71a61fd8            3
238  fe59d5878cd80080edbd29b5a0a4e1cf            3
239  ff922bdd6bafcdf99cb90d7f39cea5b3            3

[240 rows x 2 columns]